In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("UScomments.csv", error_bad_lines=False)
data

/var/folders/fq/8t9cyhs53ql809q23q2w62wh0000gn/T/ipykernel_58130/1668812302.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("UScomments.csv", error_bad_lines=False)
Skipping line 41589: expected 4 fields, saw 11
Skipping line 51628: expected 4 fields, saw 7
Skipping line 114465: expected 4 fields, saw 5

Skipping line 142496: expected 4 fields, saw 8
Skipping line 189732: expected 4 fields, saw 6
Skipping line 245218: expected 4 fields, saw 7

Skipping line 388430: expected 4 fields, saw 5

/var/folders/fq/8t9cyhs53ql809q23q2w62wh0000gn/T/ipykernel_58130/1668812302.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("UScomments.csv", error_bad_lines=False)

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0
...,...,...,...,...
691395,EoejGgUNmVU,–õ—É—á—à–∞—è,1,0
691396,EoejGgUNmVU,qu'est ce que j'aimerais que tu viennes √† Roan...,0,0
691397,EoejGgUNmVU,Ven a mexico! üòç te amo LP,0,0
691398,EoejGgUNmVU,Islƒ±ƒüƒ± yeter...,0,0
691399,EoejGgUNmVU,Kocham tƒÖ piosenkƒôüòç‚ù§‚ù§‚ù§by≈Çam zakochana po uszy ...,0,0

In [3]:
data.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

In [4]:
# Dropping null values
data.isnull().sum()

video_id         0
comment_text    25
likes            0
replies          0
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.isnull().sum()

video_id        0
comment_text    0
likes           0
replies         0
dtype: int64

## Sentiment Analysis

In [7]:
!pip install textblob

Requirement already satisfied: textblob in /opt/homebrew/lib/python3.10/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /opt/homebrew/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /opt/homebrew/lib/python3.10/site-packages (from nltk>=3.1->textblob) (8.1.6)
Requirement already satisfied: joblib in /opt/homebrew/lib/python3.10/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /opt/homebrew/lib/python3.10/site-packages (from nltk>=3.1->textblob) (2023.8.8)
Requirement already satisfied: tqdm in /opt/homebrew/lib/python3.10/site-packages (from nltk>=3.1->textblob) (4.66.1)

In [8]:
from textblob import TextBlob

In [9]:
data.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

In [10]:
TextBlob("Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è").sentiment.polarity

0.0

In [11]:
polarity = []

for comment in data['comment_text']:
    try:
        polarity.append(Textblob(comment).sentiment.polarity)
    except:
        polarity.append(0)

In [12]:
len(polarity)

691375

In [13]:
#Add in polarity column.
data['polarity'] = polarity

In [14]:
data.head(5)

,video_id,comment_text,likes,replies,polarity
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0,0
4,XpVt6Z1Gjjo,trending üòâ,3,0,0

## Wordcloud Analysis of data

In [15]:
print(data['polarity'].unique())

[0]

In [18]:
filter1 = data['polarity']==1
data.loc[filter1 , :]

Empty DataFrame
Columns: [video_id, comment_text, likes, replies, polarity]
Index: []